<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="useWCF" value="true"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPhoneContactService" />
                <binding name="ContactsServiceSoap" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPhoneContactService">
                    <security>
                        <transport sslProtocols="None" clientCredentialType="Windows" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64588/ContactsService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ContactsServiceSoap"
                contract="ContactsServiceReference.ContactsServiceSoap" name="ContactsServiceSoap" />
            <endpoint address="http://localhost:8733/ContactService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPhoneContactService"
                contract="WCFContactsServiceReference.IPhoneContactService"
                name="BasicHttpBinding_IPhoneContactService" />
            <endpoint address="net.tcp://localhost:8090/ContactService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPhoneContactService"
                contract="WCFContactsServiceReference.IPhoneContactService"
                name="NetTcpBinding_IPhoneContactService">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>